* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: rgb(128, 128, 128);
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}

#navbar {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

#navbar #logo {
    height: 60px;
    width: 60px;
    position: absolute;
    left: 3%;
    top: -5px;
}

#navbar #logo img {
    height: 150px;
    width: 150px;
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5%;
    top: 0;
}

#navbar ul li {
    height: 60px;
    width: 80px;
    margin: 0 30px;
    display: grid;
    place-items: center;
    border-radius: 25px 0;
    transition: o.5s;
}

#navbar ul li:hover{
    background: linear-gradient(to top, rgb(30, 144, 255), #ffffff00);
    border: 2px solid rgb(152, 195, 200);
}

#navbar ul li a
{
    text-decoration:none;
    color: rgb(30, 144, 255);
    font-size: 20px;
    transform: 0.5s;
}

#navbar ul li:hover a
{
    color:#207884;
}

#navbar ul .active
{
    background: linear-gradient(to top, rgb(30, 144, 255), #ffffff00);
    border: 2px solid #98c3c8;
}

#navbar ul .active a
{
color: #207884
}
#content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0%;
    top: calc(85% - 250px);
    font-size: 40px;
    color: rgb(189, 189, 189);
}

#content ul li{
    height: 90px;
    width: 80px;
    margin: 0 30px;
    display: grid;
    place-items: center;
    color: rgb(111, 207, 178);
    font-size: 30px;
    color: rgb(189, 189, 189);
}
#content {
    height: 500px;
    width: 700px;
    position: absolute;
    left: 12%;
    top: calc(50% - 250px);
}

#content h2 {
    font-size: 70px;
    color: grey;
}

#content p {
    font-size: 20px;
    color: rgb(189, 189, 189);
}

#content button {
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 5vh;
    margin-left: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: dodgerblue;
    color: white;
    }


#content button:hover {
    background: navy;
}


#icons {
    height: 500px;
    width: 140px;
    background: none;
    position: absolute;
    left: 0;
    top: calc(50% - 250px);
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 2px grey);
}

#icons #iconsLogo {
    height: 300px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

#icons #iconsLogo i {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 10px;
    color: grey;
    display: grid;
    place-items: center;
    cursor: pointer;
}

#aSide {
    height: 600px;
    width: 600px;
    position: absolute;
    top: calc(50% - 250px);
    right: 7%;
}

#aSide model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

#img1 {
    
    position: absolute;
    top: calc(55% - 250px);
    right: 15%;
}

#img2 {
    
    position: absolute;
    top: calc(55% - 250px);
    right: 10%;
}

